
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome Home</title>
  <!--Styles-->
  <style style="text/css">
    body{
    background-image: url("https://previews.123rf.com/images/rungaroon/rungaroon1203/rungaroon120300061/12938503-Computer-designed-grunge-style-textured-medical-background-Stock-Photo.jpg");
    <!--background-position: 200% 200%;-->
    background-repeat: no repeat;
      background-size: cover;
    }
  </style>
</head>
<body>
  <p>TEST TEST TEST
  </p>
 <!-- <a href="/">Go Home</a>
  <a href="/">About This Site</a>-->
</body>
</html>