{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<h2><right><font size="100" color="black"><right>Sign in</right></font></right></h2>
  <form method="post"><right>
    {% csrf_token %}
    {{ form.as_p }}
      <button type="submit"><font color="black">Sign in</font></button></right>
      <!-- check for errors -->
      {% if form.errors %}
      <p class=" label label-danger">
          Your username and password did not match.
          Please try again.
      </p>
      {% endif %}
      <!-- end of error checking -->
  </form>
{% endblock %}