<!DOCTYPE html>
{% load i18n static %}

<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% if site_name %}{{ site_name }} : {% endif %}{% block head_title %}{% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <!-- Bootstrap theme -->
        <link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static "css/theme.css" %}" rel="stylesheet">
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" type="text/css" media="screen">
        <script> type="text/javascript" src="/node_modules/jquery/dist/jquery.js"</script>
        <script> type="text/javascript" src="/node_modules/jquery-ui/jquery-ui.min.js"</script>
        <script> type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.js"</script>
        <script> type="text/javascript" src="{% static "schedule.js" %}"</script>
        <link rel="stylesheet" href="{% static "schedule.css" %}" type="text/css" media="screen">
        <link rel="stylesheet" href="/node_modules/jquery-ui/themes/base/all.css" type="text/css" media="screen">
        {% block extra_head %}
        {% endblock %}
    </head>

    <body>
    {% include 'navbar.html' %}
    <h1 id="demo">{% trans "EMIS Appointment System" %}</h1>
    <p style="clear:both">

        <div id="body">
            {% if messages %}
                <ul id="messages">
                    {% for message in messages %}
                    <li id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>{% trans "clear" %}</small></a> {{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% block body %}
            {% endblock %}

        </div>

        <div id="footer">{% block footer %}{% endblock %}</div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/docs.min.js' %}"></script>
    </body>
</html>
